

*
{
    padding: 0;
    margin: 0;
}

* 
{
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

main 
{
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

body 
{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    max-height: 100vh;
}